- provide :title, 'Services'
- provide :body_class, 'service_page'
- provide :menu_item, '/services'

#banner_container
  #banner_container_inner
    #banner_text
      %h1 Car Showrooms
      %p We clean lots and lots and lots of carshowromms in Noroflk, Surffolk and Essesx

#main_panel
  #main_panel_inner.columns
    #left_content
      %h3.emphasis With outstanding service, flexible terms and low rates - we know we can!
      %p We would love to provide you with a quote for cleaning your business premises. Please call us on 01603 783800 (or 07790 306047) to arrange a good time for us to visit.
      %p We will visit your place of work, discuss your cleaning requirements with you and then prepare a formal written quote for the services you require. All quotes are offered free and without obligation, and include a proper written schedule of agreed cleaning works for your approval.
      %p
        If you prefer a call back please tell us your name, phone number and a good time to call you by emailing
        %span.emphais debra@execm.co.uk
        or
        %span.emphais paul@execm.co.uk
      %p Thanks for visiting our web site, we hope to meet you soon.

      .block
        %p Car Showroom Cleaning Services
        %ul
          %li Daily or weekly offce cleaning
          %li One-off 'deep cleans'
          %li Carpets vacuumed
          %li Work surfaces wiped/polished
          %li Kitchen areas cleaned & disinfected
          %li Toilets cleaned & disinfected
          %li Equipment/furniture cleaned
          %li All areas dusted & spot cleaned
          %li Bins emptied & rubbish removed
          %li Optional window cleaning
          %li Optional consumables supply
        %p We clean to a written schedule of works agreed in ad-vance with you that exactly fits your individual require-ments. You can pick and mix our services to match your needs.

    #right_content
      %br
      %h1 We clean for...

      .testimonial_container
        .images_container
          = image_tag 'car_icon.png'
        .quote "We have found Executive Maintenance to be extremely ecient, trustworthy and co-operative. We would not hesitate in recommending them."
        .author -V A Lerski, Director, International School of Aerospace NDT Ltd, Norwich.
      
      .testimonial_container
        .images_container
          = image_tag 'car_icon.png'
        .quote "We have found Executive Maintenance to be extremely ecient, trustworthy and co-operative. We would not hesitate in recommending them."
        .author -V A Lerski, Director, International School of Aerospace NDT Ltd, Norwich.
      
      .testimonial_container
        .images_container
          = image_tag 'car_icon.png'
        .quote "We have found Executive Maintenance to be extremely ecient, trustworthy and co-operative. We would not hesitate in recommending them."
        .author -V A Lerski, Director, International School of Aerospace NDT Ltd, Norwich.




      .block.light.bottom
        %h1 
          %span.emphasis CAN WE QUOTE YOU HAPPY?
          %br
          CALL US ON
          %span.emphasis 01603 783800
          %br
          OR
          %span.emphasis SEND US A MESSAGE