- provide :title, "#{@blog.name} | Blog"
- provide :body_class, 'blog_page'
- provide :menu_item, '/blogs'

#banner_container
  #banner_container_inner
    %h1= @blog.name
    %p= @blog.updated_at.strftime("%B %Y")

  - if @blog.banner.path
    :sass
      #banner_container
        background-image: url(@blog.banner.path)

#blog_body
  #blog_body_inner
    = raw @blog.body

#pagination_control
  #pagination_control_inner
    %span < Last Post