- provide :title, @page.title
- provide :body_class, 'about_page'
- provide :menu_item, '/about'


#introduction_panel
  #introduction_panel_inner
    %h1 Who are Unity
    %h2 Protecting your most valuble assets
    %p At Unity we advise you and your employee on the best ‘return to work’ strategy, based on the individual’s work activities and environment. We can also advise you on how to safely adapt the workplace, in so far as is reasonably practicable, to accommodate an individual’s safe return.

#main_content_panel
  #main_content_panel_inner
    %h1 Physician Led Occupational Health and Wellbeing Services
    %p At Unity we advise you and your employee on the best ‘return to work’ strategy, based on the individual’s work activities and environment. We can also advise you on how to safely adapt the workplace, in so far as is reasonably practicable, to accommodate an individual’s safe return.
    %p At Unity we advise you and your employee on the best ‘return to work’ strategy, based on the individual’s work activities and environment. We can also advise you on how to safely adapt the workplace, in so far as is reasonably practicable, to accommodate an individual’s safe return.

#our_people_panel
  #our_people_panel_inner
    %h1 Our Team

    #people_container
      .person
        .image
        .name Person Surename
        .title Job Title

      .person
        .image
        .name Person Surename
        .title Job Title

      .person
        .image
        .name Person Surename
        .title Job Title

      .person
        .image
        .name Person Surename
        .title Job Title

#blue_dots_panel
  #left_column
    #left_column_inner
      %h1 Highly Qualified and Accredited
  #right_column
    #right_column_inner
      %h1 Looking for more information
      %h2 we’re commited to providing high quality, trustworth health and wellbeing
      %p If you have any questions regarding anything on this site, need more information or are interested in talking to us about some of our services, please get in touch and we’ll be more than happy to help.
      = link_to '01603 250059', 'tel:01603250059', class: 'action'