- provide :title, @page.title
- provide :body_class, 'about_page'
- provide :menu_item, '/about'


#introduction_panel
  #introduction_panel_inner
    %h1 Who are Unity
    %h2 Protecting your most valuble assets
    %p Unity prides itself on listening to clients needs not just providing one service to all clients, we work with clients old and new in designing services to meet the needs of the organisation and the employees. We do not believe that any service stands still and provide regular reviews and enhancements in liaison with the client to increase the benefit to the employer and employee.

#main_content_panel
  #main_content_panel_inner
    %h1 360⁰ Comprehensive Occupational Health and Wellbeing Service
    %p Unity Occupational Health and Wellbeing has been established for over forty years and boasts wide ranging experience in Occupational Health and Safety, operating throughout the UK from its Norwich headquarters.
    %p Unity is recognised by the Health & Safety Executive and has Appointed Specialist Doctors under Government Legislative Requirements for lead, asbestos and diving. We also provide offshore medicals and Level 4 Hand Arm Vibration Syndrome Screening.
    %p Our staff are fully trained and experienced in the field of Occupational Health and are dedicated to the maintenance and promotion of health in the workplace.
    %p Unity provides a wide range of occupational health and private medical services to both large and small organisations, which can be individually tailored to suit the requirements of the client.
    %p Unity has a wide client base in terms of location and industry. We operate throughout the UK, and have worked with clients in a diverse range of business sectors including offices, workshops, food, industrial and manufacturing plants.

#our_people_panel
  #our_people_panel_inner
    %h1 Our Team

    #people_container
      - Team.all.each do |person|
        = render 'common/person', person: person

#blue_dots_panel
  #blue_dots_panel_inner
    %h1 Looking for more information
    %p If you have any questions regarding anything on this site, need more information or are interested in talking to us about some of our services, please get in touch and we’ll be more than happy to help.
    = link_to 'Call us 01603 250015', 'tel:01603250015', class: 'action'
    %h2 We’re committed to providing High Quality, Flexible, Reliable Health and Wellbeing Services
