#footer_container
  text-align: center
  font-size: 0
  min-width: 1100px
  >img
    width: 100%

  #footer_container_inner
    font-size: 1rem
    #contact_info
      padding-top: 20px
      background: #e5e2ff
      height: 140px
      color: $primary_color
      font-size: 1.375em
      line-height: 2.125em
      box-sizing: border-box
      #contact_info_container
        max-width: $site-width
        margin: 0 auto

      a
        color: $light_primary_color
        font-weight: 700
        text-decoration: underline

    #footer_logo_container
      max-width: $site-width
      margin: 0 auto
      position: relative

      img
        height: 60px
        margin: 30px 0
      img:nth-child(2)
        position: absolute
        right: 0

    #copyright
      background: $primary_color
      color: white
      font-size: 0.875em
      height: 100px
      line-height: 100px