#footer_container
  text-align: center
  >img
    width: 100%
    margin-top: -150px

  #contact_info
    max-width: $site-width
    margin: 0 auto
    height: 140px
    margin-top: -140px
    color: $primary_color
    font-size: 1.375em
    line-height: 2.125em
    a
      color: $light_primary_color
      font-weight: 700
      text-decoration: underline

  #footer_logo_container
    max-width: $site-width
    margin: 0 auto
    position: relative

    img
      height: 60px
      margin: 30px 0
    img:nth-child(2)
      position: absolute
      right: 0

  #copyright
    background: $primary_color
    color: white
    font-size: 0.875em
    height: 100px
    line-height: 100px