#header_container
  border-top: 5px solid $primary_color
  color: $primary_color
  text-transform: uppercase
  font-size: 0.875em
  padding-top: 10px
  margin-bottom: 30px
  
  #header_container_inner
    max-width: $site_width
    margin: 0 auto
    +flexbox
    +justify-content(space-between)

    #logo img
      margin: 10px 0 0

    #header_content
      margin: 20px 0

      #header_info
        font-weight: 300
        text-align: right

        span
          margin-left: 20px
          display: inline-block

      #main_menu_container
        font-weight: 600
        margin-top: 20px

        .menu_item
          margin-left: 25px
          padding: 0 5px
          display: inline-block
          &.active
            border-bottom: 3px solid $light_primary_color