#banner_container

  &:before
    content: ''
    background: image_url('home_banner_curve.png')
    display: block
    height: 40px
    width: 100%
    top: 5px
    background-size: cover
    position: absolute
    z-index: 2
    background-position: 50%

  &:after
    content: ''
    display: block
    height: 40px
    background: #DFDFDF
    border-bottom: 5px solid white
    width: 100%
    position: absolute
    top: 0



  #banner_content
    width: 65%
    padding-top: 20px

    @media screen and (max-width: 700px)
      margin: 10px auto
      text-align: center
      width: 90%

      p
        width: 100%

    p
      text-transform: uppercase
      line-height: 1.5em
      font-size: 1.125em
      @media screen and (min-width: 701px)
        width: 80%
        margin: 20px 0

    .action
      text-transform: uppercase
      padding: 20px 30px
      background: white
      color: $dark_primary_color
      border-radius: 20px
      display: inline-block

#service_overview_container
  #service_overview_container_inner
    max-width: $site-width - 150px
    margin: 0 auto
    padding: 50px 15px 30px
    text-align: center
    font-weight: 300

    h1
      color: $primary_color
      text-transform: uppercase

    p
      color: rgba(black, 0.5)
      font-weight: 500
      line-height: 1.75em

    a
      color: $primary_color
      line-height: 75px



#blog_teasers_container
  margin: 100px 0

  #blog_teasers_container_inner
    max-width: $site-width
    margin: 0 auto
    +flexbox
    @media screen and (max-width: 650px)
      +flex-direction(column)
    
    .blog_teaser
      width: 33%